<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Super app</a>

  <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/members']" >Matches</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/lists']" >List</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/messages']" >Message</a>
    </li>
  </ul>

  <div dropdown *ngIf="loggedIn()" class="dropdown">
    <a class="dropdown-toggle text-light" id="dropdownMenuButton" dropdownToggle (click)="false">
      Welcome {{ loggedInUserName }}
    </a>
    <div class="dropdown-menu" *dropdownMenu>
      <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user">Edit Profile</i></a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-logout">Logout</i></a>
    </div>
  </div>
  <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
    <input name="username" class="form-control mr-sm-2" required type="text" placeholder="User name" [(ngModel)]="model.username">
    <input name="password" class="form-control mr-sm-2" required type="password" placeholder="Password" [(ngModel)]="model.password">
    <button class="btn btn-success my-2 my-sm-0" [disabled]="!loginForm.valid" type="submit">Login</button>
  </form>

</nav>